body {
    background-image: url(../imgs/brickwall.jpeg);
    background-repeat: repeat;
    background-size: cover;
}


html, body {height: 100%;}

#brickCanvas {
    border: 5px solid black;

    height: 90%;
    position: absolute;
    top: 200px;
    bottom: 100px;
    left: 0;
    right: 0px;
    margin: auto;
    
    padding-top: 5px;
}

canvas {
    display: inline;
    background-image: url(../imgs/wall.jpg);
    background-size: 300px 300px;
    padding-bottom:30px;
    
    
    
}


#title {
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    text-align: center;
    height:10vh;
    line-height: 9vh;
    color: #fcedd8;
    /* background: #d52e3f; */
    font-family: 'Niconne', cursive;
    font-weight: 700;
    text-shadow: 5px 5px 0px #eb452b, 
              10px 10px 0px #efa032, 
              15px 15px 0px #46b59b, 
              20px 20px 0px #017e7f, 
              25px 25px 0px #052939, 
              30px 30px 0px #c11a2b, 
              35px 35px 0px #c11a2b, 
              40px 40px 0px #c11a2b, 
              45px 45px 0px #c11a2b;
    margin-top: -20px;
    margin-right: 20px;
              
    
}

#rules {
    position: absolute;
    margin: auto;
    text-align: center;
    
}

#rulestitle {
    /* display:flex;
    flex-direction: column; */
    /* position: absolute; */
    margin-left: 10px;
    background-color: white;
    border: 3px solid red;
    width: 100%;
    max-width: 20em;
}

#list {
    position:relative;
/*     justify-content: center;
    margin-top: 10px; */
    /* border-style: dotted; */
    
    left: 10px;
    right: 70px;
    margin: auto;
    /* padding-top:10px; */
    box-shadow:   -15px 0 0 0 rgb(222, 86, 86),
                 15px 0 0 0 rgb(222, 86, 86),
                 0 -15px 0 0 rgb(222, 86, 86),
                 0 15px 0 0 rgb(222, 86, 86);
}

#one {
    /* display: inline; */
   /*  display:flex;
    position: relative; */
    background-color: red;
    width: 100px; 
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 40px;
    list-style: none;
    border-radius: 25px;
}

#two {
    /* display: inline; */
    position: relative;
    background-color: #FFA500;
    width: 100px; 
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    list-style: none;
    border-radius: 25px;
}

#three {
    /* display: inline; */
    position: relative;
    background-color: #0095DD;
    width: 100px; 
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    list-style: none;
    border-radius: 25px;
}

#four {
    /* display: inline; */
    position: relative;
    background-color: #ddff00;
    width: 100px; 
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    list-style: none;
    border-radius: 25px;
}

#five {
    /* display: inline; */
    position: relative;
    background-color: #000000;
    color: white;
    width: 100px; 
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    list-style: none;
    border-radius: 25px;
}

#six {
    /* display: inline; */
    position: relative;
    background-color: #16e038;
    width: 100px; 
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    list-style: none;
    border-radius: 25px;
}

#seven {
    /* display: inline; */
    position: relative;
    background-color: #e534eb;
    width: 100px; 
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    list-style: none;
    border-radius: 25px;
}

#eight {
    /* display: inline; */
    position: relative;
    background-color: #c9e6b3;
    width: 100px; 
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    list-style: none;
    border-radius: 25px;
}





#button-id {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -200px;
  padding-top: 150px;
  padding-bottom: 150px;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
  z-index: 1;
}

#button-id:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

#button-id:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

#butotn-id:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}