body {
    background-color: white;
}

#brickCanvas {
    border-style: dotted;
    width: 50%;
    position: absolute;
    top: 10;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

canvas {
    display: inline;
}